snippet @mail "553192215@qq.com"
553192215@qq.com
endsnippet


snippet @github "https://github.com/appleloveme"
https://github.com/appleloveme
endsnippet

snippet @author "AppleLoveMe"
AppleLoveMe <553192215@qq.com>
endsnippet
